@font-face {
    font-family: Questrial;
    src: url('assets/fonts/Questrial/Questrial-Regular.ttf') format('truetype');
}
@font-face {
    font-family: Quicksand;
    src: url('assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: Raleway;
    src: url('assets/fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: Raleway-Italic;
    src: url('assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}

html,body{
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
}

body{
    font-size: 1vw;
  }

.navbar{
    background-color: #60D7A0;
    padding:0.6rem;
    position: fixed;
    width: inherit;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    top:0;
    z-index: 999;
}

#name-wrapper{
  grid-column: 1;
  padding-left: 0.4rem;
}
#name-header a{
    font-family: Raleway;
    font-weight: 800;
    font-size: 1.7rem;
    text-decoration: none;
    text-shadow: 0.1rem 0.1rem 0.1rem #C5FFE4;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
#name-header a:hover{
    cursor: pointer;
    text-shadow: 0.15rem 0.15rem 0.1rem #C5FFE4;
    transition: 250ms ease-in-out;
    letter-spacing: 0.15rem;
}

#name-subtitle{
    font-family: Questrial;
    font-size: 0.7rem;
    margin-top: 0.2rem;
    color: #C5FFE4;
}
#nav-wrapper{
    font-family: Questrial;
    font-size: 1rem;
    padding-right: 1rem;
    color: white;
    text-transform: lowercase;
    grid-column: 2/4;
}
#nav-wrapper ul{
    float:right;
}
a .navlink{
    color: white;
    text-decoration: none;
}
.navlink{
    list-style-type: none;
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.navlink:hover{
    cursor: pointer;
    color: black;
    text-decoration: underline dotted;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    transition: 500ms ease-in-out;
}

.navlink:hover ::after{
    content: ' >>';
}

section{
    width: 100%;
    height: 100vh;
    display: block;
}

#main{
    background-image: url("assets/img/bg_temp.png");
    background-size: cover;
    background-repeat: none;
    -webkit-mask-image: linear-gradient(to bottom, black 98%, rgba(0,0,0,0.1) 100%);
    mask-image: linear-gradient(to bottom, black 98%, rgba(0,0,0,0.1) 100%);
}
#projects{
    background-image: url("assets/img/projects_bg3.png");
    background-size: cover;
    background-repeat: none;
    -webkit-mask-image: linear-gradient(to top, black 98%, rgba(0,0,0,0.1) 100%);
    mask-image: linear-gradient(to top, black 98%, rgba(0,0,0,0.1) 100%);
}
#featured-projects-container{
    position: fixed;
    top:4rem;
    width: 90%;
    height: 85%;
    margin: 5%;
    margin-top:1%;
}
#featured-projects-h1{
    font-family: Raleway;
    font-weight: 800;
    font-size: 2rem;
    text-decoration: none;
    text-shadow: -0.15rem -0.1rem white;
    color: #165043;
    text-transform: uppercase;
    letter-spacing: 0.09rem;
}

#career-education{
    background-image: linear-gradient(#77d196, #C5FFE4);
    padding-top: 1rem;
}

#career-education-container{
    margin:2%;
    margin-top:5%;
}
#career-education-h1{
    font-family: Raleway;
    font-weight: 700;
    font-size: 4rem;
    text-decoration: none;
    -webkit-text-stroke: 0.15rem #165043;
    text-stroke: 0.15rem #165043;
    color: #e5ff71;
    text-shadow: -0.2rem -0.2rem #e5ff71;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

#volunteering{
    background-image: linear-gradient(#C5FFE4,white);
}
#hobbies{
    background-color: white;
}
#links-more{
    background-image: url("assets/img/bg_lastpage.png");
    background-size: cover;
    background-repeat: none;
    -webkit-mask-image: linear-gradient(to top, black 98%, rgba(0,0,0,0.1) 100%);
    mask-image: linear-gradient(to top, black 98%, rgba(0,0,0,0.1) 100%);
}

footer{
    background-color: #bbfadd;
    font-family: Questrial;
    padding: 0.5rem;
    position: fixed;
    width: inherit;
    bottom: 0;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    z-index: 998;
}
#copyright{
    grid-column: 1;
    padding-left: 0.5rem;
    font-size:0.7rem;
}
#socials{
    grid-column: 2;
}
#contact{
    grid-column: 3;
    font-size:0.7rem;
    text-align:right;
    padding-right: 2rem;
}